@import "addonpage.css";
:root {
  --addon-icon-size: 24px;
  --card-padding: 14px;
  scrollbar-width: thin;
  /*scrollbar-color: #101010 #303030;*/
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b999e9 transparent;
}
