/* Example userChrome.css file */

/* Import your desired components first */

@import url(chrome/navbar_tabs_responsive_oneliner.css);
@import url(chrome/compact_proton.css);
@import url(chrome/tab_close_button_always_on_hover.css);
@import url(chrome/hide_urlbar_first_row.css);
@import url(chrome/hide_toolbox_top_bottom_borders.css);
@import url(chrome/minimal_popup_scrollbars.css);
@import url(chrome/dark_additional_windows.css);
@import url(content/compact_addons_manager.css);
@import url(chrome/urlbar_results_in_two_rows.css);

@import url(custom/audio_icon_overlay_on_favicon.css);
/* @import url(custom/pre_proton_tabs.css); */
/* Apply your custom modifications after imports */

:root {
  --toolbar-bgcolor: rgb(36, 44, 59) !important;
  --custom-font: "Noto Sans CJK JP", "Noto Sans CJK TC" !important;
  --custom-accent-drk: #2b2550;
  --custom-accent-lwt: rgba(246, 224, 1, 0.8);
}

#sidebar-box {
  --sidebar-background-color: var(--toolbar-bgcolor) !important;
}
window.sidebar-panel {
  --lwt-sidebar-background-color: rgb(36, 44, 59) !important;
}

/* Tiny window controller */
.titlebar-button {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.titlebar-spacer { width: 4px !important;}
.toolbarbutton-1 { padding: 0 !important; }

/* URL */
#urlbar-container, #urlbar-input #urlbar-input-container {
  font-size: 12px !important;
  font-family: var(--custom-font) !important;
  font-weight: 500 !important;
}
#back-button, #forward-button,
#tracking-protection-icon-box, #identity-icon,
.blocked-permission-icon.autoplay-media-icon {
  display: none !important;
}
#tracking-protection-icon-container { padding: 2px !important; }
#urlbar:focus-within[pageproxystate="invalid"] { box-shadow: 0 0 0 1px black;}

/* Tabs */
.tabbrowser-tab {
    font-family: var(--custom-font);
    font-size: 12px !important;
    font-weight: 500;
}
.tab-content {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.tab-content[soundplaying] .tab-label-container { margin-left: -8px !important;}
.tab-icon-stack .tab-icon-image { opacity: 1 !important; }

.tab-content[soundplaying] .tab-icon-image { opacity: 0 !important; }
.tabbrowser-tab[visuallyselected] > .tab-stack > .tab-background {
	box-shadow: none !important;
  border: 1px solid var(--custom-accent-lwt) !important;
  background-image: none !important;
}

.tab-throbber[busy] { color: var(--custom-accent-lwt) !important; }

/* hide overflow indicator' separators*/
spacer[part="overflow-start-indicator"], spacer[part="overflow-end-indicator"] { display: none !important; }

/* fix for toolbar smaller than 34px */
#scrollbutton-up,#scrollbutton-down { padding-top: 0 !important; padding-bottom: 0 !important;}
