/* Example userChrome.css file */

/* Import your desired components first */

/* @import url(chrome/navbar_tabs_responsive_oneliner.css); */
@import url(chrome/compact_proton.css);
@import url(chrome/dark_additional_windows.css);
@import url(chrome/vertical_context_navigation.css);

/* Tabs */
/* @import url(content/vertical_tabs); */
@import url(chrome/tabs_on_bottom.css);
@import url(chrome/tab_count_in_alltabs_button.css);
@import url(chrome/tab_close_button_always_on_hover.css);
/* @import url(chrome/overlay_tab_audio_icons.css); */
@import url(custom/audio_icon_overlay_on_favicon.css);

/* URL */
@import url(chrome/hide_urlbar_first_row.css);
@import url(chrome/urlbar_results_in_two_rows.css);
@import url(chrome/iconized_places_context_menu.css);

/* Apply your custom modifications after imports */
:root {
  --custom-font: "Noto Sans CJK JP", "Noto Sans CJK TC" !important;
}

#nav-bar {
  width: calc(100% - 60px); /* 90*/
}

/* Tiny window controller */
.titlebar-button {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.titlebar-spacer {
  width: 4px !important;
}
.toolbarbutton-1 {
  padding: 0 !important;
}

/* hide close windows button */
.titlebar-button.titlebar-close {
  display: none;
}

/* URL */
#urlbar-container,
#urlbar-input #urlbar-input-container {
  font-size: 12px !important;
  font-family: var(--custom-font) !important;
  font-weight: 500 !important;
}
#back-button,
#forward-button,
#tracking-protection-icon-box,
#identity-icon,
.blocked-permission-icon.autoplay-media-icon {
  display: none !important;
}
#tracking-protection-icon-container {
  padding: 2px !important;
}
/* #urlbar:focus-within[pageproxystate="invalid"] {
box-shadow: 0 0 0 1px black;
} */

/* Tabs */
.tabbrowser-tab {
  font-family: var(--custom-font);
  font-size: 12px !important;
  font-weight: 500;
}

/* .tab-throbber[busy] {
  color: var(--panel-banner-item-warning-icon-bgcolor) !important;
} */

/* hide overflow indicator' separators*/
spacer[part="overflow-start-indicator"],
spacer[part="overflow-end-indicator"] {
  display: none !important;
}
