/* fix audio icon is hidden when playing audio */
.tab-icon-stack:is([soundplaying],[muted],[activemedia-blocked]):not([pinned]) > .tab-icon-image{ visibility: hidden }
.tab-icon-overlay { opacity: 1 !important; padding: 0 !important; position: absolute; fill-opacity: 1 !important; border-radius: 50% !important; }