/* fix audio icon is hidden when playing audio */

.tabbrowser-tab:hover .tab-icon-overlay {
  background-color: #1d1d1d !important;
}

.tab-icon-overlay {
  opacity: 1 !important;
  fill-opacity: 1 !important;
  background-color: black !important;
}
.tabbrowser-tab[selected] .tab-icon-overlay {
  opacity: 1 !important;
  fill-opacity: 1 !important;
}
.tab-icon-overlay[muted] {
  left: 6px !important;
  bottom: 4px !important;
  border-radius: 50% !important;
}
